@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color: rgb(53, 53, 53);
    --primary-color-darker: rgb(35, 35, 35);
    --background-color: rgb(128, 128, 128);
}

.swal-overlay {
    background-color: rgba(53, 53, 53, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.swal-modal {
    background-color: var(--background-color) !important;
    border-radius: 8px;
    max-width: 90%;
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

.swal-title {
    color: var(--primary-color-darker) !important;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.swal-text {
    color: var(--primary-color) !important;
    font-family: 'Open Sans', sans-serif;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.swal-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.swal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color) !important;
    color: white !important;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 24px;
    cursor: pointer;
}

.swal-button:not([disabled]):hover {
    background-color: var(--primary-color-darker) !important;
}

.swal-footer {
    background-color: transparent !important;
}

.swal-icon {
    display: none !important;
}

.swal-icon--success, .swal-icon--error, .swal-icon--warning, .swal-icon--info, .swal-icon--question {
    border-color: transparent !important;
    background-color: transparent !important;
}

.swal-icon--success__ring, .swal-icon--error__x-mark, .swal-icon--success__hide-corners, .swal-icon--error__line, .swal-icon--success__line {
    display: none;
}