@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(53, 53, 53);
  --primary-color-darker: rgb(35, 35, 35);
  --background-color: rgb(128, 128, 128);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
}

.container {
  background: var(--background-color);
  border-radius: 10px;
  padding: 30px;
  width: 80%; 
  max-width: 800px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.menu-item {
  cursor: pointer;
  padding: 10px;
  background-color: var(--primary-color-darker);
  color: #fff;
  margin-bottom: 5px;
  width: 90%;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: var(--primary-color);
}

.submenu {
  width: 90%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s, max-height 0.5s ease-out;
  background-color: var(--primary-color);
  margin-bottom: 10px;
}

.submenu.expanded {
  opacity: 1;
  max-height: 500px;
  border-radius: 5px;
}


.submenu a {
  display: block;
  margin: 10px 0;
  color: #ffffff;
  padding: 5px;
  text-decoration: none;
}

a:hover, .submenu a:hover {
  background-color: rgb(29, 28, 28);
}

.desconectar {
  padding: 10px 20px;
  background-color: #f11a1a;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.desconectar:hover {
  background-color: #f33b3b;
}
